################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YouTbDownloader
/YouTbDownloader/bin/Debug/net8.0/ffmpegDir
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.dll
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.exe
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.pdb
/YouTbDownloader/obj/Debug/net8.0/apphost.exe
/YouTbDownloader/obj/Debug/net8.0/YouTbDow.B9C91FD2.Up2Date
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.AssemblyInfo.cs
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.AssemblyInfoInputs.cache
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.assets.cache
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.csproj.AssemblyReference.cache
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.csproj.BuildWithSkipAnalyzers
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.csproj.CoreCompileInputs.cache
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.csproj.FileListAbsolute.txt
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.dll
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.GeneratedMSBuildEditorConfig.editorconfig
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.genruntimeconfig.cache
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.pdb
/YouTbDownloader/obj/Debug/net8.0/YouTbDownloader.sourcelink.json
/YouTbDownloader/obj/project.assets.json
/YouTbDownloader/obj/project.nuget.cache
/YouTbDownloader/obj/YouTbDownloader.csproj.nuget.dgspec.json
/YouTbDownloader/obj/YouTbDownloader.csproj.nuget.g.props
/YouTbDownloader.Conversor.Application/obj/Debug/net8.0/YouTbDownloader.Conversor.Application.AssemblyInfo.cs
/YouTbDownloader.Conversor.Application/obj/Debug/net8.0/YouTbDownloader.Conversor.Application.AssemblyInfoInputs.cache
/YouTbDownloader.Conversor.Application/obj/Debug/net8.0/YouTbDownloader.Conversor.Application.assets.cache
/YouTbDownloader.Conversor.Application/obj/Debug/net8.0/YouTbDownloader.Conversor.Application.GeneratedMSBuildEditorConfig.editorconfig
/YouTbDownloader.Conversor.Application/obj/project.assets.json
/YouTbDownloader.Conversor.Application/obj/project.nuget.cache
/YouTbDownloader.Conversor.Application/obj/YouTbDownloader.Conversor.Application.csproj.nuget.dgspec.json
/YouTbDownloader.Conversor.Application/obj/YouTbDownloader.Conversor.Application.csproj.nuget.g.props
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.AssemblyInfo.cs
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.AssemblyInfoInputs.cache
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.assets.cache
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.GeneratedMSBuildEditorConfig.editorconfig
/YouTbDownloader.Conversor.Entities/obj/project.assets.json
/YouTbDownloader.Conversor.Entities/obj/project.nuget.cache
/YouTbDownloader.Conversor.Entities/obj/YouTbDownloader.Conversor.Entities.csproj.nuget.dgspec.json
/YouTbDownloader.Conversor.Entities/obj/YouTbDownloader.Conversor.Entities.csproj.nuget.g.props
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.AssemblyInfo.cs
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.AssemblyInfoInputs.cache
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.assets.cache
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/YouTbDownloader.Shared.infrastructure/obj/project.assets.json
/YouTbDownloader.Shared.infrastructure/obj/project.nuget.cache
/YouTbDownloader.Shared.infrastructure/obj/YouTbDownloader.Shared.infrastructure.csproj.nuget.dgspec.json
/YouTbDownloader.Shared.infrastructure/obj/YouTbDownloader.Shared.infrastructure.csproj.nuget.g.props
/YouTbDownloader.Conversor.Application/bin/Debug/net8.0
/YouTbDownloader.Conversor.Application/obj/Debug/net8.0
/YouTbDownloader/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0
/YouTbDownloader/bin/Debug/net8.0/7z.dll
/YouTbDownloader/bin/Debug/net8.0/SevenZipSharp.dll
/YouTbDownloader/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/YouTbDownloader/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/YouTbDownloader/bin/Debug/net8.0/System.Security.Permissions.dll
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.Conversor.Application.dll
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.Conversor.Application.pdb
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.Conversor.Entities.dll
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.Conversor.Entities.pdb
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.deps.json
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.Shared.infrastructure.dll
/YouTbDownloader/bin/Debug/net8.0/YouTbDownloader.Shared.infrastructure.pdb
/YouTbDownloader/bin/Debug/net8.0/yt-dlp.exe
/YouTbDownloader/obj/Debug/net8.0/ref/YouTbDownloader.dll
/YouTbDownloader/obj/Debug/net8.0/refint/YouTbDownloader.dll
/YouTbDownloader.Conversor.Entities/bin/Debug/net8.0/YouTbDownloader.Conversor.Entities.deps.json
/YouTbDownloader.Conversor.Entities/bin/Debug/net8.0/YouTbDownloader.Conversor.Entities.dll
/YouTbDownloader.Conversor.Entities/bin/Debug/net8.0/YouTbDownloader.Conversor.Entities.pdb
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/ref/YouTbDownloader.Conversor.Entities.dll
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/refint/YouTbDownloader.Conversor.Entities.dll
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.csproj.BuildWithSkipAnalyzers
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.csproj.CoreCompileInputs.cache
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.csproj.FileListAbsolute.txt
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.dll
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.pdb
/YouTbDownloader.Conversor.Entities/obj/Debug/net8.0/YouTbDownloader.Conversor.Entities.sourcelink.json
/YouTbDownloader.Shared.infrastructure/bin/Debug/net8.0/YouTbDownloader.Shared.infrastructure.deps.json
/YouTbDownloader.Shared.infrastructure/bin/Debug/net8.0/YouTbDownloader.Shared.infrastructure.dll
/YouTbDownloader.Shared.infrastructure/bin/Debug/net8.0/YouTbDownloader.Shared.infrastructure.pdb
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/refint/YouTbDownloader.Shared.infrastructure.dll
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.csproj.CoreCompileInputs.cache
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.csproj.FileListAbsolute.txt
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.dll
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.pdb
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/YouTbDownloader.Shared.infrastructure.sourcelink.json
/YouTbDownloader.Shared.infrastructure/obj/Debug/net8.0/ref
